.label-primary, .label-warning {
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%)!important;
    border-radius: 3px!important;
    border-left: .5px solid#c27ba0!important;
    border-right: .5px solid#c27ba0!important;
    border-top: .5px solid#9d778b!important;
    border-bottom: .5px solid#9d778b!important;
    border: 1px solid rgb(81, 72, 72)!important;
}

.btn-primary {
        background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
        border: 1px solid rgb(81, 72, 72)!important;

}        


ul.nav.nav-tabs.fl li .fa-user:before,.fa-user-plus:before {
    display: none
}

ul.nav.nav-tabs.fl li a:hover {
    background-image: radial-gradient(farthest-corner, rgb(197, 109, 103) 0, rgb(196, 104, 98) 49%, rgb(195, 103, 96) 50%, rgb(149, 49, 43) 100%);
}

ul.nav.nav-tabs.fl li {
    background: none;
    width: 50%;
    margin-left: 1px;
    border-radius: 50px;
    height: 35px!important;
    float: right
}

ul.nav.nav-tabs.fl li a {
    background-color: #8c2720!important;
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
    color: #fff;
    margin: auto;
    text-align: center;
    width: 79%;
    border-radius: 3px;
    height: 87%!important;
    margin-top: 2px;
    padding: 2px 0!important;
    font-family: 'El Messiri',FontAwesome!important;
    margin-right: 38px;
    border: 1px solid #4c4b4b;
}

ul.nav.nav-tabs {
    -webkit-transform:matrix(1, 0, 0, 1, 0, 5)!important;
    margin-top: -5px!important;
    margin-bottom: 4px!important;
    border-radius: 3px;
    background-color: #fff!important;
    border: #ff000000!important;
    margin-left: 34px
}

div#l1.grow.break.tab-pane.fade.active.in {
    -webkit-transform:matrix(1, 0, 0, 1, 0, 79)!important;
    position: absolute!important;
    width: 58%!important;
    margin-top: -2.8px!important;
    margin-left: 2px!important;
    height: 99px;
    background-color: #8c261f;
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
    border-radius: 3px;
    border: 1px solid #4c4b4b;
}


div#l2, div#l3, div#l1.grow.break.tab-pane.fade.active.in {
    margin-top: 70.1px!important;
}

div#l2, div#l3 {
    -webkit-transform:matrix(1, 0, 0, 1, 0, 152)!important;
    position: absolute!important;
    width: 58%!important;
    margin-top: -2.8px!important;
    margin-left: 2px!important;
    height: 99px;
    border-radius: 3px;
    background-color: #8c261f;
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
}


label.fl.label.loginstat {
    background-color: #8c261f;
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
    float: left!important;
    border-radius: 3px!important;
    top: 0;
    left: 0;
    margin-top: 6px!important;
    font-family: 'El Messiri',FontAwesome!important;
    font-size: 14px!important;
    margin-left: -4px!important;
    border: 1px solid #4c4b4b;
}


#des1 {
    margin-bottom: 2px;
    margin-top: 4px;
    font-family: 'El Messiri',FontAwesome!important;
    background-image: radial-gradient(farthest-corner, rgb(140, 39, 32) 0, rgb(140, 39, 32) 49%, rgb(140, 39, 32) 50%, rgb(213, 123, 117) 100%);
    color: #f9f9f9;
    border-radius: 0px;
    border-bottom: 1px solid #4c4b4b;
    border-top: 1px solid #4c4b4b;
    padding-bottom: 3px;
}

.des2 {
    background-color: #fff;
    border-radius: 0px;
    font-family: 'El Messiri',FontAwesome!important;
    padding: 2px 10px 2px 10px; margin:7px 8px 7px 8px!important;
    
}

#des3 {
    font-family: 'El Messiri'!important;
    font-size: 14px!important;
    padding: 10px 0px 2!important;
}

#des4 {
    font-family: 'El Messiri',FontAwesome!important;
    color: #f9f9f9!important;
    background-image: radial-gradient(farthest-corner, rgb(224, 49, 49) 0, rgb(224, 49, 49) 49%, rgb(224, 49, 49) 50%, rgb(253, 169, 169) 100%);
    font-size: 13px!important;
    text-align: center!important;
}


div#l1 input#u1 {
    font-family: 'El Messiri',FontAwesome!important;
    width: 105%;
    margin-top: -3px;
    margin-left: -5px!important;
    text-align: center;
    border-radius: 3px;
    height: 30px;
    border-left: 1px solid#c27ba0!important;
    border-right: 1px solid#c27ba0!important;
    border-top: 1px solid#9d778b!important;
    border-bottom: 1px solid#9d778b!important;
}

div#l2 button.btn.btn-primary, div#l1 button.btn.btn-primary, div#l3 button.btn.btn-primary {
    border-radius: 3px!important;
    width: 85px;
    position: inherit;
    height: 26px;
    padding: 0 0 3px;
    border: 0 solid#ffffff!important;
    font-family: 'El Messiri',FontAwesome!important;
border: 1px solid rgb(111, 21, 14)!important;
}

div#l1 button.btn.btn-primary {
    margin-left: 127px!important;
    margin-top: 33px!important;
}

div#l2 input#u2, div#l3 input#u3 {
    font-family: 'El Messiri',FontAwesome!important;
    border-left: 1px solid#c27ba0!important;
    border-right: 1px solid#c27ba0!important;
    border-top: 1px solid#9d778b!important;
    border-bottom: 1px solid#9d778b!important;
    width: 105%;
    padding: 0!important;
    margin-left: -4px!important;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    margin-top: -4px!important;
}


div#l2 input#pass1, div#l3 input#pass2 {
    border-left: 1px solid#c27ba0!important;
    border-right: 1px solid#c27ba0!important;
    border-top: 1px solid#9d778b!important;
    border-bottom: 1px solid#9d778b!important;
    height: 30px;
    width: 105%;
    padding: 0!important;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: -4px!important;
    text-align: center;
}

div#l2 button.btn.btn-primary, div#l3 button.btn.btn-primary {
    margin-left: 127px!important;
    margin-top: 2px!important;
}

.checkbox {
    margin-top: 7px!important;
    margin-left: -1px!important;
    position: fixed;
    float: right
}

.fa.fa-user-secret {
    color: #b40666;
    margin-top: 4px!important;
}

label.label.label-primary.mini.fl {
    margin-top: 5px;
    width: 100%!important;
    padding: 0px;
    border-radius: 3px!important;
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: #61616147;
    border: 71px none #fff;
    border-radius: 31px;
    background-image: radial-gradient(farthest-corner, rgb(141, 40, 34) 0, rgb(140, 38, 31) 49%, rgb(142, 42, 35) 50%, rgb(245, 245, 245) 100%)!important;
}

div#tlogins ::-webkit-scrollbar-thumb:hover {
    background: #61616147
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: #61616147
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px none #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: #61616147
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: #61616147
}

div#tlogins ::-webkit-scrollbar-corner {
    background: transparent
}

div#tlogins span.corner.u-topic.dots {
    background-image: linear-gradient(90deg, rgba(249, 249, 249, 0.46) 0, rgba(249, 249, 249, 0.32) 10%, rgba(245, 24, 8, 0) 51%, rgba(251, 250, 250, 0.35) 89%, rgba(247, 246, 246, 0.48) 100%)!important;
    float: left;
    border-radius: 3px!important;
    max-width: 100%!important;
}

.fr.co {
    transform: rotate(90deg);
    border-radius: 5px!important;
    height: 10px;
    width: 16px!important;
    margin-top: 4px;
}

//.u-pic {
    border-radius: 3px!important;
    border-bottom: 3px solid rgb(141, 40, 32)!important;
}

div#tlogins .fl.mini.u-msg {
    margin-top: 7px!important;
    border-radius: 8px!important;
}

.label-primary, .btn-primary {
    font-family: 'El Messiri',FontAwesome!important;
}

button.btn.fr.btn-success.fa.fa-refresh {
    background-color: #8c261f;
    background-image: linear-gradient(90deg, rgb(192, 99, 92) 0, rgba(190, 97, 90, 0.5) 10%, rgba(203, 96, 179, 0) 51%, rgba(197, 105, 98, 0.5) 89%, rgb(197, 104, 98) 100%);
    margin-top: 1px!important;
    border: 1px solid rgb(111, 21, 14)!important;
}