#des4 {
    font-family: 'El Messiri',FontAwesome!important;
    color: #f9f9f9!important;
    background-image: -webkit-linear-gradient(45deg,rgb(128, 128, 128) 25%,#656062 25%,#bf5e67 50%,rgb(128, 128, 128) 50%,rgb(128, 128, 128) 75%,#616161 75%,#616161);
    font-size: 13px!important;
    text-align: center!important;
    border-bottom: 2px solid #bf5e67;
    border-top: 3px solid #bf5e67;
    
}

#des4:hover {
    color: #000!important;
    text-shadow: 0 0 5px #fff!important;
}