.btn-primary {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}


div#l1 input#u1 {
    width: 100%;
    height: 25px;
    margin-top: 0px;
    margin-left: 0px!important;
    text-align: center;
    text-shadow: 0 0 5px rgba(255,255,255,1)!important;
    background-color: rgb(251, 234, 231);
    border-radius: 0px 0px 24px 24px!important;
    box-shadow: inset 0 2px 2px rgb(70, 69, 69), 0 0 8px rgb(97, 97, 97)!important;
    border: 1px solid #ffffff!important;
    font-family: 'El Messiri',FontAwesome;
}


div#l2 input#u2,div#l3 input#u3 {
    width: 100%;
    height: 25px;
    margin-top: 0px;
    margin-left: 0px!important;
    text-align: center;
    text-shadow: 0 0 5px rgba(255,255,255,1)!important;
    background-color: rgb(251, 234, 231);
    border-radius: 0px 0px 24px 24px!important;
    box-shadow: inset 0 2px 2px rgb(70, 69, 69), 0 0 8px rgb(97, 97, 97)!important;
    border: 1px solid #ffffff!important;
    font-family: 'El Messiri',FontAwesome;
}

div#l2 input#pass1,div#l3 input#pass2 {
    width: 100%;
    height: 25px;
    margin-top: 2px;
    margin-left: 0px!important;
    text-align: center;
    text-shadow: 0 0 5px rgba(255,255,255,1)!important;
    background-color: rgb(251, 234, 231);
    border-radius: 0px 0px 24px 24px!important;
    box-shadow: inset 0 2px 2px rgb(70, 69, 69), 0 0 8px rgb(97, 97, 97)!important;
    border: 1px solid #ffffff!important;
    font-family: 'El Messiri',FontAwesome;
}

div#l2, div#l3, div#l1 {
    border-bottom: 2px solid;
    margin-bottom: 2px;
    border-top: 0px solid;
    margin-top: 0px;
    border-color: #a61c1c;
    border-radius: 15px;

}

ul.nav.nav-tabs.fl li {
    width: 33.3%;
    border-top: 2px solid #ffcdcd;
    border-radius: 5px 5px 0px 0px;
    background-color: #FDF0F8;
    border-bottom: 3px solid #ffcdcd;
    
}

ul.nav.nav-tabs.fl li a {
    font-family: 'El Messiri',FontAwesome!important;
    font-size: 13px!important;
    padding: 4px!important;
    text-align: center!important;
    border-radius: 5px 5px 0px 0px;
    width: 100%;color: #a71c1c;
    
}

ul.nav.nav-tabs.fl li a {
    font-family: 'El Messiri',FontAwesome!important;
    font-size: 15px!important;
    padding: 4px!important;
    text-align: center!important;
    border-radius: 0px;
    border-right: .50px solid #a61c1c;
    color: #a61c1c;
    
}

ul.nav.nav-tabs.fl li {
    width: 33.3%;
    border-top: 2px solid #a61c1c;
    border-radius: 0px;
    border-right: .50px solid #a61c1c;
    background-color: #00000000;
    border-bottom: 1px solid #a61c1c;
    
}

nav.nav-tabs.fl {
    height: auto!important;
}

ul.nav.nav-tabs.fl {
	margin-top:3px
}

ul.nav.nav-tabs.fl li a:hover {
    background-color: white;
    color: #a61c1c;
    
}

ul.nav.nav-tabs.fl li .fa-user-plus:before
{
	color:red;
	-webkit-animation:mymove .5s infinite;
	animation:mymove .5s infinite;
}

ul.nav.nav-tabs.fl li .fa-user:before
{
	color:#FFF
}

ul.nav.nav-tabs.fl li .fa-user:before,.fa-user-plus:before
{
	float:left;
	background-image:none;
	background-color: #a61c1c!important;
	padding:2px 5px;
	margin-top:-5px;
	margin-left:-5px;
	font-size:19px;
}

@-webkit-keyframes mymove {
	from
	{
		color:red
	}
	
	to
	{
		color:#FFF
	}
}

@keyframes mymove {
	from
	{
		color:red
	}
	
	to
	{
		color:#FFF
	}
}

.brooms.minix.badge.border, .minix.badge.border, .corner.border.label.label-primary {
    background-color: #E33571!important;
    border: 1px solid #FFF0FA;
    background-image:none;
    background-color: #BC431A!important;
}
.bwall.minix.badge.border, .busers.minix.badge.border {
    background-color: #E33571!important;
    border: 1px solid #FFF0FA;
    background-color: #BC431A!important;
    background-image:none;
}

.border.corner, .border.corner {
    box-shadow: inset 0 2px 2px rgb(70, 69, 69), 0 0 8px rgb(97, 97, 97)!important;
    border: 1px solid #ffffff!important;
    
}



.lonline.light.break {
    outline: #b40666 solid 1px!important;
    background-color: #98205f26!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}


#des1 {
    margin-bottom: 2px;
    margin-top: 4px;
    font-family: 'El Messiri',FontAwesome!important;
    background-image: -webkit-linear-gradient(45deg,rgb(128, 128, 128) 25%,#656062 25%,#808080 50%,rgb(128, 128, 128) 50%,rgb(128, 128, 128) 75%,#616161 75%,#616161);
    color: #f9f9f9;
    border-radius: 0px;
    border-bottom: 2px solid #a81d1d;
    border-top: 2px solid #a81d1d;
    padding-bottom: 3px;
}

.des2 {
    background-color: #fff;
    border-radius: 0px;
    font-family: 'El Messiri',FontAwesome!important;
    padding: 2px 10px 2px 10px; margin:7px 8px 7px 8px!important;
    
}

#des3 {
    font-family: 'El Messiri',FontAwesome!important;
    font-size: 12px!important;
    padding: 10px 0px 2!important;
}

#des4 {
    font-family: 'El Messiri',FontAwesome!important;
    color: #f9f9f9!important;
    background-image: -webkit-linear-gradient(45deg,rgb(128, 128, 128) 25%,#656062 25%,#9c2222 50%,rgb(128, 128, 128) 50%,rgb(128, 128, 128) 75%,#616161 75%,#616161);
    font-size: 13px!important;
    text-align: center!important;
    border-bottom: 2px solid #9c2222;
    border-top: 3px solid #9c2222;
    
}

#des4:hover {
    color: #4d1f2d!important;
    text-shadow: 0 0 5px #fff!important;
}

.label-primary, .btn-primary {
    font-family: 'El Messiri',FontAwesome!important;
    font-size: 14px!important;
    padding: 10px 0px 2!important;
}

.label.tc.border.btn.fl, .label.tc.border.btn.fl {
    border: 2px solid #616161!important;
    font-family: 'El Messiri',FontAwesome!important;
    //font-size: 14px!important;
}

label.fl.label.loginstat.label-success {
    font-family: 'El Messiri',FontAwesome;
    display: inline-flex;
    background-color: #9c2222!important;
    float: left!important;
    border-radius: 24px!important;
    border: 1px solid #ffffff!important;



    
}


//.label-info {
    border-radius: 7px!important;
    font-family: 'El Messiri',FontAwesome;
    font-size: 14px!important;
    background-color: #9C2222!important;
    border: 1px solid #ffffff!important;
}

.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    height: 20px;
    border-radius: 7px!important;
    font-family: 'El Messiri',FontAwesome;
    font-size: 14px!important;
    background-color: #4c4b4b!important;
    border: 1px solid #ffffff!important;
}

button.btn.fr.btn-success.fa.fa-refresh {
    background-color: #4c4b4b!important;
    background-image: none;
    margin-top: 1px!important;
    border: 1px solid #ffffff!important;

}

div#tlogins img.fr.co {
    display: inline;
    margin-left: 3px;
    height: 10px;
    position: static;
    border-radius: 5px!important;
}

div#tlogins .fl.mini.u-msg {
    margin-top: 7px!important;
    border-radius: 8px!important;
}

div#tlogins span.corner.u-topic.dots {
    background: #cbcbcb;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 25%,rgba(255,255,255,.2) 50%,rgba(255, 255, 255, 0) 75%,transparent 100%,transparent)!important;
    float: left;
    border-radius: 24px 24px 24px 3px!important;
    max-width: 100%!important;
}



div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: #616161;
    border: 71px none #fff;
    border-radius: 31px;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,#9c2222 50%,rgba(255,255,255,.2) 50%,rgb(156, 34, 34) 75%,transparent 75%,#9c2222)!important;
}

div#tlogins ::-webkit-scrollbar-thumb:hover {
    background: #fecccc
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: #616161
}

div#tlogins ::-webkit-scrollbar-track {
    background: #616161;
    border: 65px none #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: #808080
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: #808080
}

div#tlogins ::-webkit-scrollbar-corner {
    background: transparent
}


.fr.co {
    border-radius: 5px!important;
    height: 10px;
    width: 16px!important;

}

.btn-default {
    color: #ac1e1e;
}

.btn-default:hover {
    color: #4d1f2d!important;

}

//button.btn.fa.fa-youtube-play {
    width: 100%;
    text-align: -webkit-center;
    background-color: #a71c1c;
    color: white;
    font-family: 'El Messiri',FontAwesome;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    MARGIN-TOP: 2PX;
}
//button.btn.fa.fa-image {
    width: 80%;
    text-align: -webkit-center;
    background-color: #a71c1c;
    color: white;
    font-family: 'El Messiri',FontAwesome;
    padding-top: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    MARGIN-TOP: 2PX;
    height: 24px!important;
}
//button.btn.fa.fa-youtube img {
    width: 80%!important;
    height: 70px!important;
}
button.btn.fa.fa-youtube {
    background-color: none;
    color: #a71c1c;
}
//.btn.fa.fa-image:focus {

    border-color: #fad7d7;


    border-radius: 10px 10px 10px 10px;
}

//div#users img.fl.ustat {
    border-radius: 3px 37px 37px 37px!important;
    margin: 0;
    margin-right: -38.5px;
    margin-top: -1px;
    width: 39px!important;
    height: 39px!important;
}

.u-pic {
    border-radius: 24px!important;
    border-Bottom: 100% solid 1px #FFFFFF!important;
}


.room.borderg.hand.nosel.fl img.fl.u-pic {
    margin: 1px 0;
    border-Right: 3px solid #616161;
    border-Left: 3px solid #616161;
    border-Top: 1px solid #616161;
    border-Bottom: 100% solid #FFFFFF;
    padding-Top: 3px;
    border-Radius: 5px;
}

.label-primary,.label-warning {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,#4c4b4b 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
    border-radius: 24px!important;
    border-left: .5px solid#c27ba0!important;
    border-right: .5px solid#c27ba0!important;
    border-top: .5px solid#9d778b!important;
    border-bottom: .5px solid#9d778b!important;
    border: 1px solid #ffffff!important;
}

label.label.label-primary.mini.fl {
    width: 100%!important;
    padding: 0px;
    border-radius: 24px!important;
}



.btn-success {
    border-radius: 7px!important;
    border-right: .5px solid#9d778b!important;
    border-left: .5px solid#9d778b!important;
    border-bottom: .5px solid#c27ba0!important;
    border-top: .5px solid#c27ba0!important
}

.btn-primary,.btn-primary:hover {
    border-left: .5px solid#c27ba0!important;
    border-right: .5px solid#c27ba0!important;
    border-top: .5px solid#9d778b!important;
    border-bottom: .5px solid#9d778b!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,#4c4b4b 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
    background: linear-gradient(163deg,#1c585f 0%,#5ccad3 100%);
}




.nosel.fl.bg {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 5%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 1%,transparent)!important;
}

div#tlogins {
    border-color: #b40666;
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075),0 0 8px #991f5f;
    border: 1px solid#b4066669;
}

div#l2 button.btn.btn-primary,div#l1 button.btn.btn-primary,div#l3 button.btn.btn-primary {
    border-radius: 0px 0px 24px 24px!important;
    border: 1px solid #ffffff!important;
    margin-top: 3px;
    width: 100%;
    height: 26px;
    margin-bottom: 4px;
    padding: 0 0 0px;
    font-family: 'jazeera';
    border-bottom: 2px solid rgb(0, 0, 0);width: 100%!important;
    background-color: #FFFFFF;
    border-bottom: 2px solid #fe6899important;
    border-top: 3px solid #fe6899important;
}

.btn.hand.borderg.corner {
    border: .5px solid #b4066659;
    width: 22px;
    height: 22px
}




